# Environnement virtuel
venv/
.venv/
env/

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo

# Distribution / packaging
*.egg-info/
dist/
build/

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Fichiers de config pip
pip-log.txt